/* Ensure the entire viewport is used and prevent scrolling */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Keyframes for downward movement */
@keyframes rain-animation {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 21.5%;
  }
}

/* Animation class for rain background */
.animate-rain {
  animation: rain-animation 5s linear infinite;
  animation-direction: normal;
}

@keyframes sun-animation {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 21.5% 0;
  }
}

.animate-sun { 
  animation: sun-animation 5s linear infinite;
  animation-direction: normal;
}

